# Database (AWS RDS MySQL)
DATABASE_URL=DATABASE_URL=mysql+pymysql://admin:Jehoshaphat1@shop.cenimgs4ufds.us-east-1.rds.amazonaws.com:3306/clothing_store

# Redis (AWS ElastiCache)
REDIS_URL=master.clothing-store-cachee.znerd8.use1.cache.amazonaws.com:6379

# JWT auth
SECRET_KEY=gqhMdDvtWZyLRFwaQWxznrA_qVB-5vViVvKvYgVRvt8
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# AWS S3
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=eu-west-1
S3_BUCKET_NAME=your-bucket-name
CLOUDFRONT_DOMAIN=your-distribution.cloudfront.net

# Paystack
PAYSTACK_SECRET_KEY=sk_test_853f60918042ff86da9b5734004c2ec97b536fae
PAYSTACK_PUBLIC_KEY=pk_test_c39946b0d88e1b8c89d9f8395a51aaa29fd4c2df
