# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env.example

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# VS Code
.vscode/

# IDEs
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
logs/
*.log

# Database
test.db
